DiscoveryMicroservice/HelloMicroservice/bin/
DiscoveryMicroservice/HelloMicroservice/obj/
DiscoveryMicroservice/HelloMicroservice/packages/
DiscoveryMicroservice/packages/
DiscoveryMicroservice/StandAloneClient/bin/
DiscoveryMicroservice/StandAloneClient/obj/
